In [1]:
# PART 3
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from configure import g_key

In [10]:
# 2. Read and load the hotels database (WeatherPy_vacation.csv) from Part 2
hotel_df = pd.read_csv('weather_data\challenge_data\WeatherPy_vacation.csv')
hotel_df.head(3)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Hervey Bay,AU,86.00,clear sky,-25.30,152.85,Shelly Bay Resort
1,24,Thinadhoo,MV,82.49,overcast clouds,0.53,72.93,NaN
2,40,Acapulco,MX,80.60,scattered clouds,16.86,-99.88,Crowne Plaza Acapulco

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# 3.1. Filter the hotel dataframe to get each preferred city
Acapulco_df = hotel_df.loc[hotel_df['City'] == 'Acapulco']
SRDS_df = hotel_df.loc[hotel_df['City'] == 'San Rafael Del Sur']
Nicoya_df = hotel_df.loc[hotel_df['City'] == 'Nicoya']
Laguna_df = hotel_df.loc[hotel_df['City'] == 'Laguna']

# 3.2. Get the latitude-longitude pairs
acapulco = (float(Acapulco_df['Lat']), float(Acapulco_df['Lng']))
srds = (float(SRDS_df['Lat']), float(SRDS_df['Lng']))
nicoya = (float(Nicoya_df['Lat']), float(Nicoya_df['Lng']))
laguna = (float(Laguna_df['Lat']), float(Laguna_df['Lng']))

# Call the cities latitude and longitude
acapulco, srds, nicoya, laguna

((16.86, -99.88), (11.85, -86.44), (10.15, -85.45), (16.17, -88.94))

In [5]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [6]:
# Add marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=laguna, zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4. Add directions layer with travel_mode
nicoya2acapulco = gmaps.directions_layer(nicoya, acapulco, waypoints=[srds, laguna], travel_mode='DRIVING')
fig.add_layer(nicoya2acapulco)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# 6. Create a dataframe for the four cities
cities_list = [Acapulco_df, Nicoya_df, Laguna_df, SRDS_df]
cities_df = pd.concat(cities_list)
cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,40,Acapulco,MX,80.6,scattered clouds,16.86,-99.88,Crowne Plaza Acapulco
42,273,Nicoya,CR,80.6,overcast clouds,10.15,-85.45,Las Aguilas
63,380,Laguna,BZ,77.0,thunderstorm with light rain,16.17,-88.94,Laguna Maya Lodge
87,492,San Rafael Del Sur,NI,77.0,scattered clouds,11.85,-86.44,Zammy T&T

In [8]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
cities_info = [info_box_template.format(**row) for index, row in cities_df.iterrows()]

In [9]:
# Add markers for four city.
locations = cities_df[["Lat", "Lng"]]
max_temp = cities_df["Max Temp"]
fig = gmaps.figure(center=laguna, zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=cities_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))